[submodule "tools/adb-forwarder"]
	path = tools/adb-forwarder
	url = https://github.com/dqtz5vpvj9-create/MyPowerTools-adb-forwarder.git
[submodule "tools/remote-notifications"]
	path = tools/remote-notifications
	url = https://github.com/dqtz5vpvj9-create/MyPowerTools-remote-notifications.git
[submodule "tools/remote-commands"]
	path = tools/remote-commands
	url = https://github.com/dqtz5vpvj9-create/MyPowerTools-remote-commands.git
[submodule "tools/process-monitor"]
	path = tools/process-monitor
	url = https://github.com/dqtz5vpvj9-create/MyPowerTools-process-monitor.git
[submodule "tools/screenease"]
	path = tools/screenease
	url = https://github.com/dqtz5vpvj9-create/MyPowerTools-screenease.git
[submodule "tools/smartbird-thermostat"]
	path = tools/smartbird-thermostat
	url = https://github.com/dqtz5vpvj9-create/MyPowerTools-smartbird-thermostat.git
[submodule "tools/doubao-computer-use"]
	path = tools/doubao-computer-use
	url = https://github.com/dqtz5vpvj9-create/MyPowerTools-doubao-computer-use.git
[submodule "external/NotifyApp"]
	path = external/NotifyApp
	url = https://github.com/dqtz5vpvj9-create/NotifyApp.git
[submodule "external/haidian"]
	path = external/haidian
	url = https://github.com/dqtz5vpvj9-create/haidian.git
[submodule "tools/input-monitor"]
	path = tools/input-monitor
	url = https://github.com/dqtz5vpvj9-create/MyPowerTools-input-monitor.git
